.container {
    max-width: 100%;
    background-image: url(./img/background.png);
    background-size: cover;
    font-family: 'Ubuntu';
}

.fill:hover path {
    fill: green;
}

.header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 79px;
    margin-right: 79px;
}

.title {

    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

    color: #FFFFFF;
}

.title:hover {
    color: green;
}

.nav-panel {
    display: flex;
    align-items: center;
    gap: 27px;
}

.line {
    border-left: 1px solid #FFFFFFE5;
    height: 19px;
}

.account-entering {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;
}

.account:hover {
    color: green;

}

.form-container {
    width: 384px;
    height: 544px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: 54px auto;
    padding: 30px;
    position: relative;
    

}



.form-header {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 13px;
}

.form-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #434343;
}

.form-container::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    background: #3CB878;
}

.alternative {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 6px;
    color: #3CB878;
}

.alternative:hover {
    color: #01813F;
    text-decoration: underline;
}

.form-btns {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 30px;

}

.facebook-btn {

    padding: 16px 20px 16px 66px;
    background: #305DB8;
    border-radius: 5px;
    position: relative;
}

.facebook-btn::before {
    content: "";
    position: absolute;
    border-right: 1px solid #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    height: 28px;
    bottom: 10px;
    left: 47px;
}

.facebook-btn::after {
    content: "";
    position: absolute;
    background: url(./img/facebook.png) no-repeat center center;
    width: 12px;
    height: 24px;
    bottom: 10px;
    left: 17px;
}

.facebook-btn:hover {
    background: #022263;
}

.google-btn {

    padding: 16px 26px 16px 78px;
    background: #DF4A32;
    border-radius: 5px;
    position: relative;
}

.google-btn::before {
    content: "";
    position: absolute;
    border-right: 1px solid #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    height: 28px;
    bottom: 10px;
    left: 47px;
}

.google-btn::after {
    content: "";
    position: absolute;
    background: url(./img/google.png) no-repeat center center;
    width: 30px;
    height: 20px;
    bottom: 14px;
    left: 10px;
}

.google-btn:hover {
    background: #AB1F09;
}

.devision {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 12px;
    color: #848484;
    position: relative;
}

.devision::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #F2F2F2;
    width: 152px;
    right: 30px;
    top: 8px;
}

.devision::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #F2F2F2;
    width: 152px;
    left: 30px;
    top: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-item {
    width: 304px;
    height: 44.08px;
    margin-left: 30px;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: #BEBEBE;
}

.info-item:focus {
    color: #434343;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    outline: none;

}

.checkbox {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-left: 30px;
    margin-top: 12px;
    margin-bottom: 36px;
    color: #434343;
}



.green {
    color: #3CB878;
}

.checkbox:checked + .green {
 text-decoration: underline;
}

.btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 30px;
    padding: 16px 100px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
}

.btn:hover {
    background: #01813F;
}